@page
@model Team6_Advising.Pages.Advisor.IndexModel
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue2 border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand-white" asp-area="" asp-page="/Index">AAAA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/Home">Advisor</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/LoginAdvisor">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/RegisterAdvisor">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<center><h1>Welcome To Advisors Portal</h1></center> 