@page
@model Team6_Advising.Pages.Advisor.LoginAdvisorModel
@{
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue2 border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand-white" asp-area="" asp-page="/Index">AAAA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/Home">Advisor</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/RegisterAdvisor">Don't have an account?</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    <div class="container justify-content-center">
        <h1 style="text-align:center">Welcome Back!</h1>
        @if(ViewData["Message"] != null)
        {
            <div class="bg-blue2" style="display:flex; justify-content:center">
            <label class="col-form-label">@ViewData["Message"]</label>
            </div>
        }
        <form method="post" class="bg-blue">
            <div class="form-group">
                <label class="col-sm-3 col-form-label">ID</label>
                <input type="text" class="form-control" id="id" name="id" value="">
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" value="">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Log In</button>
            </div>
        </form>
    </div>
