@page
@model Team6_Advising.Pages.Advisor.RegisterAdvisorModel
@{
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue2 border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand-white" asp-area="" asp-page="/Index">AAAA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="navbar-nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/Home">Advisor</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-page="/Advisor/LoginAdvisor">Already registered?</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<h1>Register</h1>

@if (ViewData["Message"] != null)
{
    <div class="bg-blue2" style="display:flex; justify-content:center">
        <p class="col-form-label">@ViewData["Message"]</p>
    </div>
}
<form method="post" class="bg-blue">
    <div class="row mb-3" >
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" name="mail" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Office</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="office" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-sm"> Submit </button>
        </div>
    </div>
</form>


