@page
@model Team6_Advising.Pages.Admin.DeleteSlotsModel
@{
    Layout = "./Shared/_LayoutAdmin";
}

<h1> Delete slots of certain courses if they are not offered in the given semester </h1>

<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Semester Code</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="current_semester" value"" required>
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg"> Delete </button>
        </div>
    </div>
</form>