@page
@model Team6_Advising.Pages.Admin.IndexModel
@{
    Layout = "./Shared/_LayoutAdmin";
    ViewData["Title"] = "Welcome Admin";
}

<h1 style="text-align : center;">Welcome to the most OVERPOWERED Admin Panel</h1>
