@page
@model Team6_Advising.Pages.Admin.NewCourseModel
@{
    Layout = "./Shared/_LayoutAdmin";
}

<h1>Add New Course</h1>

<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Major</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="major" value="" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Semester</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="semester" value="" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Credit Hours</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="credit_hours" value="" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Course Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="course_name" value="" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Is Offered</label>
        <div class="col-sm-6 d-flex justify-content-center">
            <div class="form-check" style="padding-top: 12px;">
                <input type="checkbox" class="form-check-input" name="is_offered" value="True">
            </div>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg"> Create </button>
        </div>
    </div>
</form>



