@page
@model Team6_Advising.Pages.Admin.StudentToCourseToInstructorModel
@{
Layout = "./Shared/_LayoutAdmin";
}

<h1>Assign Studnet to Course to Instructor</h1>

<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Course ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="cours_id" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Instructor ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="instructor_id" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Student ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="studentID" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Semester Code</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="semester_code" value"" required>
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg"> Link </button>
        </div>
    </div>
</form>