@page
@model Team6_Advising.Pages.Admin.DeleteCourseModel
@{
    Layout = "./Shared/_LayoutAdmin";

}

<h1> Delete a course along with its related slots</h1>

<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Course ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="courseID" value"" required>
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg"> Delete </button>
        </div>
    </div>
</form>

@if (ViewData["Message"] != null)
{
    <div class="bg-blue2" style="display:flex; justify-content:center">
        <label class="col-form-label">@ViewData["Message"]</label>
    </div>
}