@page
@model Team6_Advising.Pages.Admin.IndexModel
@{
    Layout = "./Shared/_LayoutAdmin";
    ViewData["Title"] = "Welcome Admin";
}

<h1 style="text-align : center;">Welcome to the most OVERPOWERED Admin Panel</h1>

<style>
    .bg-blue {
        background: linear-gradient(to right, #1d5692, #123456);
    }

    .custom-rounded-btn {
        border-radius: 18px;
    }

</style>
<div class="row">
    <div class="col-lg-6 d-flex">
        <form method="post" class="bg-blue h-70" asp-page-handler="IssueInstallmetns">
            <div class="col mb-3 text-center">
                <label class="col-sm-3 col-form-label">Payment ID</label>
                <div class="col-sm-12 mt-2">
                    <input type="text" class="form-control" name="payment_id" value="" required>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-lg mx-auto custom-rounded-btn">Proceed</button>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="text-white fw-normal fs-6 fst-italic">Issue installments as per the number of installments for a certain payment</p>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-6 d-flex">
        <form method="post" class="bg-blue h-70" asp-page-handler="UpdateStatus">
            <div class="col mb-3 text-center">
                <label class="col-sm-3 col-form-label">Student ID</label>
                <div class="col-sm-12 mt-2">
                    <input type="text" class="form-control" name="student_id" value="" required>
                </div>
                <div class="row mb-3 justify-content-center">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-lg mx-auto custom-rounded-btn">Update</button>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="text-white fw-normal fs-6 fst-italic">Update a student's status based on his/her financial status</p>
                </div>
            </div>
        </form>
    </div>
</div>

@if (ViewData["Message"] != null)
{
    <div class="bg-blue2" style="display:flex; justify-content:center">
        <label class="col-form-label">@ViewData["Message"]</label>
    </div>
}
