@page
@model Team6_Advising.Pages.Admin.LoginModel
@{
}

<h1 style="text-align : center;">Admin Login</h1>

<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="id" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">PASSWORD</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" value"">
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-lg"> Login </button>
        </div>
    </div>
</form>

@if (ViewData["message"] != null)
{
    <div class="bg-blue2" style="display:flex; justify-content:center">
        <p class="col-form-label">@ViewData["Message"]</p>
    </div>
}