<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team6_Advising</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Team6_Advising.styles.css" asp-append-version="true" />

    <style>
        /* Apply styles for normal state */
        a {
            color: lightblue; /* Set the default text color */
            text-decoration: none; /* Remove underline */
        }

            /* Apply styles for hover state */
        a:hover {
                color: #123456; /* Change the text color on hover */
                text-decoration : underline;
        }

    </style>
    <!--#bbb8b8-->
    <!--#D1EAF0-->

</head>
<body style="padding:20px; background: #f0f1f6">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <!--if the current page is the landing page-->
            <div class="container" style="color: #123456">
                &copy; 2023 - AAAAA -
                <a asp-page="./Admin/Login">Admin</a>
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>