@page
@model Team6_Advising.Pages.Advisor.RegisterAdvisorModel
@{
}

@if (ViewData["Message"] != null)
{
    <!-- Display the message and show the alert using JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('myModal');
            var span = document.getElementsByClassName('close')[0];
            var modalMessage = document.getElementById('modal-message');

            var message = '@Html.Raw(ViewData["Message"].ToString())';
            modalMessage.innerHTML = message;

            span.onclick = function () {
                modal.style.display = 'none';
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            }

            if (message) {
                modal.style.display = 'block';
            }
        });
    </script>
}
<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    #modal-message {
        font-size: 30px;
        text-align: center;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 500px;
        height: 500px;
    }

</style>
<div id="myModal" class="modal" >
    <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modal-message"></p>
        <button style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);" onclick="location.href='/Advisor/Home';">Go to Home Page</button>
    </div>
</div>
<h1>Register</h1>

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" name="mail" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Office</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="office" value"">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-sm"> Submit </button>
        </div>
    </div>
</form>

