@page
@model Team6_Advising.Pages.Students.ChooseInstructorModel
@{
}
<h1>Choose Your Instructor</h1>
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Instructor ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="instructor_id" value="">
        </div>
        <label class="col-sm-3 col-form-label">Course ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="course_id" value="">
        </div>
        <label class="col-sm-3 col-form-label">Current Semester Code</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="semester_code" value="">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
</form>

