@page
@model Team6_Advising.Pages.Students.LoginModel
@{
}

<h1>Login</h1>

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">id</label> 
        <div class="col-sm-6">
                <input type="text" class="form-control" name="id" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">password</label>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-sm"> Submit </button>
        </div>
    </div>
</form>