@page
@model Team6_Advising.Pages.Students.RegisterModel
@{
}

@if (ViewData["Message"] != null)
{
    <!-- Display the message and show the alert using JavaScript -->
    <script>
        var message = '@Html.Raw(ViewData["Message"].ToString())';
        alert(message);

        // Redirect after the alert
        window.location.href = '/Students/Index';
    </script>
}

<h1>Register</h1>

<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="fname" value"" required>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="lname" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">password</label>
        <div class="col-sm-6">
            <input type="password" class="form-control" name="password" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Faculty</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="faculty" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" name="mail" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Major</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="major" value"">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Semester</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="semester" value"">
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg"> Submit </button>
        </div>
    </div>
</form>

