@page
@model Team6_Advising.Pages.Students.SecondMakeUpModel
@{
}
<h1>Register For Second MakeUp</h1>
<form method="post" class="bg-blue">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Course ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="course_id" value"">
        </div>
        <label class="col-sm-3 col-form-label">Current Semester Code</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="current_sem" value"">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Register</button>
    </div>
</form>

